html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, sans-serif; /* Helvetica is typically included for Mac compatibility, but it’s not crucial. */
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.product-card {
  position: relative;
  width: 350px;
  color: #fff;
}

.content {
  position: absolute;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  padding: 20px;
  width: 100%;
}

.category, .price {
  font-weight: bold;
}

.title {
  font-size: 1.75em;
}

.description {
  font-size: 0.85em;
  margin: 10px 0;
}

.price {
  font-size: 1.25em;
}

.purchase-link {
  display: inline-block;
  background-color: #e44d26;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.purchase-link:hover, .purchase-link:focus {
  background-color: #c44121;
  transform: scale(1.05);
}
